<div id="login" class="row text-center">
    <div class="col-lg-12" style="padding-top: 20px;">
        <img class="logo" style="max-width: 150px;" src="assets/images/logo.png">
    <div style="padding-top: 30px;" class="logo">{{ 'WORD.ForgotPassword' | translate }}</div>

    <span>                <p>{{ 'FORGOTPASSWORD.Instruction' | translate }}</p></span>
    </div>
    <div class="col-lg-12" style="padding-top: 20px;">
        <div class="col-lg-12">
            <form role="form" name="form" ng-submit="submit(form)" novalidate>

                <div class="btn-group">
                    <div class="inner-addon left-addon" style="border-style: none;">
                        <i class="glyphicon glyphicon-user"></i>
                        <input class="form-control opaque" placeholder="{{ 'WORD.Email' | translate }}" name="email" type="email" ng-model="user.email" required>
                    </div>
                </div>
                </br>
                </br>

                <div class="btn-group">
                    <a class='btn btn-fill btn-success' href="" ng-click="submit(form)" style="width:12em;"> {{ 'WORD.Send' | translate }} </a>
                </div>
                </br>
                </br>
            </form>
        </div>
    </div>

</div>

