<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.allevios.com" target="_blank">
                                {{ 'WORD.Home' | translate }}
                            </a>
                </li>
                <li>
                    <a href="https://www.allevios.com/support" target="_blank">
                                Support
                            </a>
                </li>
                <li>
                    <a href="https://api.allevios.com" target="_blank">
                                API
                            </a>
                </li>
                <li>
                    <a href="https://www.allevios.com/blog" target="_blank">
                               Blog
                            </a>
                </li>
            </ul>
        </nav>
        <p class="copyright pull-right">
            &copy; 2015-2016 <a href="https://www.allevios.com">Daniel Schlager, Christian Kawalar</a>, {{ 'APP_LOVE' | translate }} <i class="fa fa-heart"></i> {{ 'APP_LOVE2' | translate }}
        </p>
    </div>
</footer>
