<div id="social">
  <ul class="social-element">
    <li><a href="https://www.facebook.com/allevios"><i id="social" class="fa fa-facebook-square fa-3x social-fb"></i></a></li>
    <li><a href="https://twitter.com/allevios_"><i id="social" class="fa fa-twitter-square fa-3x social-tw"></i></a></li>
    <li><a href="https://plus.google.com/+Allevios-page"><i id="social" class="fa fa-google-plus-square fa-3x social-gp"></i></a></li>
    <li><a href="mailto:office@allevios.com"><i id="social" class="fa fa-envelope-square fa-3x social-em"></i></a></li>
  </ul>
</div>
