<ng-include src="'/app/admin/assistant/assistant.html'">

</ng-include>

<script type="text/ng-template" id="customTemplate.html">
    <a>
        <span bind-html-unsafe="match.model.name | typeaheadHighlight:query"></span>
    </a>
</script>

<div class="main col-md-10 col-md-offset-2">
    <div class="row">
        <ol class="breadcrumb">
            <li>
                {{ 'WORD.Management' | translate }}
            </li>
            <li class="active">{{ 'WORD.Projects' | translate }}</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-md-10 col-sm-3 col-xs-3">
            <h1 class="page-header">{{ 'WORD.Projects' | translate }}</h1>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-9">
            <h2>
            <input class="pull-right" type="text" ng-model="filter" placeholder="{{ 'WORD.Filter' | translate }}" typeahead="type as type.name for type in projects | filter:{name:$viewValue}" typeahead-template-url="customTemplate.html" class="form-control">
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-click="add()">
            <div class="small-box bg-green">
                <div class="inner">
                    <h3 class="light">{{ 'ASSISTANT.Project' | translate }}</h3>
                    <p>{{ 'WORD.Add' | translate }}</p>
                </div>
                <div class="icon">
                    <i class="fa fa-home"></i>
                </div>

                <div class="inner">
                    <span> </span>
                    <span> </span>
                    <br>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-repeat="i in projects" ng-click="edit(i)">
            <div class="small-box bg-blue">
                <div class="inner">
                    <h3 class="light">{{i.name}}</h3>
                    <p>{{ i.info }}</p>
                </div>
                <div class="icon">
                    <i class="fa fa-home"></i>
                </div>
                <div class="inner" ng-click="$event.stopPropagation()">
                    <button class="btn-group btn btn-danger" ng-click="delete(i)"><i class="glyphicon glyphicon-trash"></i> {{ 'WORD.Delete' | translate }}</button>
                </div>
            </div>
        </div>
    </div>


    <div class="row" ng-show="isEdit || isNew">
        <div class="col-lg-12">
            <h1 ng-show="isEdit">{{ 'WORD.Edit' | translate }}</h1>
            <h1 ng-show="isNew">{{ 'WORD.New' | translate }} </h1>
            <form class="form-horizontal" role="form" name="form" ng-submit="save(form)" novalidate="" id="form">
                <input type="hidden" name="id" ng-model="form.id">

                <div class="form-group">
                    <label class="control-label col-sm-2" for="InputName">Name</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="InputName" ng-model="form.name" placeholder="{{ 'PROJECT.NameofProject' | translate }}">
                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label col-sm-2" for="InputInfo">Info</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="InputInfo" ng-model="form.info" placeholder="Info">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="InputClient">{{ 'WORD.Client' | translate }}</label>

                    <div class="col-sm-10">
                        <select class="form-control" id="InputClient" ng-model="form.client">
                            <option ng-repeat="client in clients" value="{{client._id}}">
                                {{client.name}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="InputActive">{{ 'WORD.Active' | translate }}</label>

                    <div class="col-sm-10">
                        <div class="checkbox">
                            <input ng-model="form.active" id="InputActive" type="checkbox">
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-default">{{ 'WORD.Save' | translate }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>